{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="jumbotron container-fluid">
      <div class="row">
        <h2>IMAGER</h2>
        <p>This site is all about images. Your images.</p>
        <p>Share with friends! Follow other IMAGER users!</p>
        <p><a href="#" class="btn btn-primary" role="button">SIGN IN</a>
           <a href="#" class="btn btn-default" role="button">Register</a></p>
        <!--REPLACE BELOW WITH REAL IMAGES FROM THE SITE-->
        <img class="img-rounded img-responsive center-block"
             src="http://lorempixel.com/640/360/">
      </div>
    </div>
  </div>
{% endblock %}
