{% extends "base.html" %}
{% block content %}
<div class='container'>
    <h1>{{object.user.username}}</h1>
    <img src='{{ object.picture.url }}'>
    <table style="width:100%">
    {% if object.user.pk != user.pk %}
        <h1>no match</h1>
    {% endif %}
        <tr>
            <td>Phone</td>
            <td>{{object.phone}}</td> 
            {% if object.phone_priv %}     
                <td>Private</td>
            {% else %}
                <td>Public</td>>
            {% endif %}
        </tr>
        <tr>
            <td>Birthday</td>
            <td>{{object.birthday}}</td> 
            {% if object.birthday_priv %}     
                <td>Private</td>
            {% else %}
                <td>Public</td>>
            {% endif %}
        </tr>
        <tr>
            <td>Name</td>
            <td>{{object.user.username}}</td> 
            {% if object.name_priv %}     
                <td>Private</td>
            {% else %}
                <td>Public</td>>
            {% endif %}
        </tr>
        <tr>
            <td>Pic</td>
            <td>{{object.picture}}</td> 
            {% if object.picture_priv %}     
                <td>Private</td>
            {% else %}
                <td>Public</td>>
            {% endif %}
        </tr>
    </table>
    <h1>{{ object.user.username }} has {{ object.photo_set.count }} Photos:</h1>
    <ul>
        {% for photo in object.show_all_photos %}
            <li>{{ photo.title }}</li>
        {% endfor %}
    </ul>
    <h1>{{ object.user.username }} has {{ object.show_albums.count }} Albums:</h1>
    <ul>
        {% for album in object.show_albums.all %}
            <li>{{ album.title }}</li>
        {% endfor %}
    </ul>
    <h1>{{ object.user.username }} is following {{ object.followers.all.count }} People:</h1>
    <ul>
        {% for follower in object.following.all %}
            <li>{{ follower.user.username }}</li>
        {% endfor %}
    </ul>
    <h1>{{ object.user.username }} has {{ object.followers.all.count }} Followers:</h1>
    <ul>
        {% for follower in object.followers.all %}
            <li>{{ follower.user.username }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock%}
